<div class="container">
	<div id="fronty" class="site-content">
    <div id="content" role="main">
      <article id="post-5" class="post-5 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Vakantiewoning Serooskerke</h1>
        </header>

        <div class="entry-content">
          <p>In Serooskerke op Schouwen- Duivenland verhuren we ons grote, vrijstaande vakantiehuis.
						Het huis is geschikt voor 2 – 8 personen. We verhuren het huis buiten de schoolvakanties ook per weekend of midweek. Huisdieren zijn welkom.
						Het huis is ongeveer 160 m2  groot en staat op 600 m2  eigen grond.
						Er zijn 4 slaapkamers, waarvan 2 slaapkamers op de begane grond en 2 op de 1e verdieping.
						Dit maakt het huis geschikt voor mensen die wat slechter ter been zijn.
					</p>
        </div>
      </article>
    </div>
  </div>
</div>