<footer id="colophon" role="contentinfo">
	<div class="site-info">
		<p>Voor boekingen kunt u contact opnemen met +31 6 38292352, of e-mailen naar <a class="text" href="mailto:hidskes@gmail.com">hidskes@gmail.com.</a>
		</p>
	</div><!-- .site-info -->
</footer>